<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <style type="text/css">
    body {
      margin: 0px;
      padding: 0px;
    }
    #coming_soon{
      text-align: center;
    }
    #coming_soon_row{
      margin-top: 20px;
      margin-bottom: 20px;
    }
    </style>
  

  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="#">NAMEMORY</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="http://namemory.blogspot.com/">Official Blog</a></li>
          </ul>
        </div>
      </div>  
    </div>
    <div class="container">
      <div class="hero-unit">
        <h1>I am Converted 2, Yes I am</h1>
        <p>Thank you for registering. You are currently on our waiting list. We will notify you as soon as possible. </p>
      </div> 
    </div>

      <!-- Google Code for namemory-heroku-convert2-no-http Conversion Page -->
  <script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 991950745;
  var google_conversion_language = "en";
  var google_conversion_format = "2";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "IZQBCO-p9QQQme__2AM";
  var google_conversion_value = 0;
  /* ]]> */
  </script>
  <script type="text/javascript"
  src="//www.googleadservices.com/pagead/conversion.js">
  </script>
  <noscript>
  <div style="display:inline;">
  <img height="1" width="1" style="border-style:none;" alt=""
  src="//www.googleadservices.com/pagead/conversion/991950745/?value=0&amp;label=IZQBCO-p9QQQme__2AM&amp;guid=ON&amp;script=0"/>
  </div>
  </noscript>


</body>


</html>
