
<!--
 * @(#)sample.chtml (Metawerx examples)
 *
 * Copyright (c) 1998-2005 Metawerx. All Rights Reserved. www.metawerx.net
 *
 * This software is the confidential and proprietary information of Metawerx
 * ("Confidential Information").  You shall not disclose such Confidential
 * Information and shall use it only in accordance with the terms of the
 * license agreement you entered into with Metawerx.
 * 
 * METAWERX MAKES NO REPRESENTATIONS OR WARRANTIES ABOUT THE SUITABILITY
 * OF THE SOFTWARE OR THE SOURCE CODE, EITHER EXPRESS OR IMPLIED, INCLUDING
 * BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR
 * A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. METAWERX SHALL NOT BE LIABLE
 * FOR ANY DAMAGES SUFFERED BY ANY PARTY AS A RESULT OF USING, MODIFYING OR
 * DISTRIBUTING THIS SOFTWARE AND DOCUMENTATION OR ITS DERIVATIVES
 *
 * Synopsis
 * =====================================================================================
 * This is a simple CHTML page which displays a menu with 4 links to other pages.
 * This page will show on all CHTML browsers (typically i-mode enabled handsets)
 *
 * Notes
 * =====================================================================================
 * In a real CHTML page, it would be better to have no comments section sent to the
 * handset.  The smaller the page the better.
 *
 * Some examples on the net show the following lines:
 *   <META name="CHTML" content="yes">
 *   <META http-equiv="Content-Type" content="text/chtml; charset=iso-8859-1">
 *
 * These are not necessary, as CHTML was never accepted as a standard by the W3C,
 * and has been obsoleted by "i-mode compatible HTML" and "i-mode compatible XHTML".
 * Neither of the standards defined by NTT DoCoMo require the above tags to be used.
 *
 * However, by convention, some search engines apparently use the CHTML meta-tag above
 * to identify the page as an i-mode page.  If listing your pages in these search
 * engines, then the CHTML meta-tag may be required.
 *
 * If using http-equiv, the content type should be text/html.
 * The charset attribute may be used to set a character encoding for the page.
 * For example:
 *   <META http-equiv="Content-Type" content="text/html; charset=SHIFT_JIS">
 *   <META http-equiv="Content-Type" CONTENT="text/html; charset=UTF-8">
 *
 * History
 * =====================================================================================
 * 09/17/2005 17:28 Neale Rudd
 *                  Added more documentation
 * 06/30/2001 00:21 Neale Rudd
 *                  Created
 *
-->

<html>
<head>
<title>i-mode demo</title>
</head>
<body>
    i-mode demo site
    <p/>
    <br/><a href="services.chtml">Services</a>
    <br/><a href="contact.chtml">Contact</a>
    <br/><a href="products.chtml">Products</a>
    <br/><a href="about.chtml">About...</a>
</body>
</html>
