<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <style type="text/css">
    body {
      margin: 0px;
      padding: 0px;
    }
    #coming_soon{
      text-align: center;
    }
    #coming_soon_row{
      margin-top: 20px;
      margin-bottom: 20px;
    }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="#">NAMEMORY</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="http://namemory.blogspot.com/">Official Blog</a></li>
          </ul>
        </div>
      </div>  
    </div>
    <div class="container">
      <div class="hero-unit">
        <h1>Thank you!</h1>
        <p>Thank you for registering. You are currently on our waiting list. We will notify you as soon as possible. </p>
      </div> 
    </div>


  </body>
</html>
